<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddProfil</servlet-name>
        <servlet-class>controller.AddProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfil</servlet-name>
        <servlet-class>controller.LoadProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfil</servlet-name>
        <servlet-class>controller.DeleteProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmploye</servlet-name>
        <servlet-class>controller.AddEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmploye</servlet-name>
        <servlet-class>controller.DeleteEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEmploye</servlet-name>
        <servlet-class>controller.LoadEmploye</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficherEmployeparProfil</servlet-name>
        <servlet-class>controller.AfficherEmployeparProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheEmployeparprofileentredate</servlet-name>
        <servlet-class>controller.AfficheEmployeparprofileentredate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdf</servlet-name>
        <servlet-class>controller.pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excel</servlet-name>
        <servlet-class>controller.excel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graphe_employe_par_profil</servlet-name>
        <servlet-class>controller.Graphe_employe_par_profil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProfil</servlet-name>
        <url-pattern>/AddProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfil</servlet-name>
        <url-pattern>/LoadProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfil</servlet-name>
        <url-pattern>/DeleteProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmploye</servlet-name>
        <url-pattern>/AddEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmploye</servlet-name>
        <url-pattern>/DeleteEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEmploye</servlet-name>
        <url-pattern>/LoadEmploye</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficherEmployeparProfil</servlet-name>
        <url-pattern>/AfficherEmployeparProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheEmployeparprofileentredate</servlet-name>
        <url-pattern>/AfficheEmployeparprofileentredate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdf</servlet-name>
        <url-pattern>/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excel</servlet-name>
        <url-pattern>/excel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graphe_employe_par_profil</servlet-name>
        <url-pattern>/Graphe_employe_par_profil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
